* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #cecece;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.blocks {
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
}

.block_item {
  background-color: #c90000;
  color: #fff;
  padding: 30px;
  border: 3px solid #fff;
  text-align: center;
  float: left;
  flex-grow: 1;
}

/* Перший приклад */
.example_one {
  align-items: center;
}
.example_one > li {
  width: 16.65%;
}

.example_one:after {
  content: "";
  clear: both;
}

.example_one::after {
  content: "";
  display: block;
  clear: both;
}
/* Другий приклад  */
.example_two {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* Третій приклад  */
.example_three {
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
}

/* Медіазапити */
@media screen and (max-width: 992px) {
  .example_one > li {
    width: 30%;
  }

  .example_two {
    width: 81%;
    max-height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
  }

  .example_two > li {
    width: 33%;
  }

  .example_three {
    grid-template-columns: 30% 30% 30%;
  }
}

@media screen and (max-width: 768px) {
  .example_one > li {
    width: 45%;
  }
  .example_two {
    max-height: 300px;
  }
  .example_two > li {
    width: 50%;
  }
  .example_three {
    grid-template-columns: 45% 45%;
  }
}

@media screen and (max-width: 540px) {
  .example_one > li {
    width: 90%;
    float: none;
  }

  .example_two > li {
    width: 100%;
  }
  .example_two {
    flex-direction: row;
    max-height: none;
  }
  .example_three {
    grid-template-columns: 90%;
  }
}
